@import "tailwindcss";

@keyframes fly {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-20px) translateX(-10px); }
  100% { transform: translateY(0px) translateX(0px); }
}

@keyframes sparkle {
  0%,100% { opacity: 0.2; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.3); }
}


